<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.play.module_main">

    <application
        android:name="com.play.library_base.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_play"
        android:label="@string/main_name"
        tools:replace="label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>