<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.play.module_login">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!--在自己组件中注册Activity-->
        <activity android:name=".activity.LoginActivity" />
    </application>
</manifest>